body{
    background-color: rgb(74, 74, 74);
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 20px;
}
.main{
    background-color: white;
    width: 50vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    input{
        width: 40vw;
        height: 5vh;
        font-size: 20px;
        border: 1px solid black;
        border-radius: 5px;
    }
    
form{
    width: 40vw;
    height: 85vh;
    display:flex;
    flex-direction: column;

    grid-gap: 15px;
    border: 1px solid black;
    border-radius: 25px;
    padding:20px;
    grid-gap: 30px;
}
form div small{
color: red;
}
a{
    text-decoration: none;
    color: blue;
}

.button{
    background-color: rgb(221, 193, 33);
    border-radius: 15px;
    border: 0;
}
